SMARTVM_BASE_URL=http://pre.smartvm.cn
SMARTVM_CLIENT_ID=sandbox-demo-client
SMARTVM_KEY=sandbox-demo-key
LOCAL_API_BASE_URL=http://127.0.0.1:4000/api
TEST_PLATFORM_ACCOUNT=0320@jinsaitest.com
TEST_PLATFORM_PASSWORD=jinsaitest
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_REGION_ID=cn-hangzhou
ALIYUN_SMS_ENDPOINT=dysmsapi.aliyuncs.com
