SMARTVM_BASE_URL=http://pre.smartvm.cn
SMARTVM_CLIENT_ID=sandbox-demo-client
SMARTVM_KEY=sandbox-demo-key
SMARTVM_EXTRA_PAY_STYLES=duan3
LOCAL_API_BASE_URL=http://47.116.27.98:4000/api
SANDBOX_ADMIN_PHONE=13800000001
SANDBOX_ADMIN_CODE=123456
# SANDBOX_ADMIN_TOKEN=
TEST_PLATFORM_ACCOUNT=0320@jinsaitest.com
TEST_PLATFORM_PASSWORD=jinsaitest
ALIYUN_SMS_ACCESS_KEY_ID=
ALIYUN_SMS_ACCESS_KEY_SECRET=
ALIYUN_SMS_REGION_ID=cn-hangzhou
ALIYUN_SMS_ENDPOINT=dysmsapi.aliyuncs.com
